$color-white: #FFFFFF;
$color-grey-light: #FEFEFE;
$color-grey-default: #D6D6D6;
$color-grey-dark: #7C7C7C;
$color-black: #000000;

$color-primary: $color-grey-default;
$color-secondary: $color-grey-light;
$color-bg-content: $color-white;
$colot-text: $color-black;
