.text-small{
    @include text-small();
}
.text-default{
    @include text-default();
}
.text-large{
    @include text-large();
}
.text-xlarge{
    @include text-xlarge();
}
.text-align-center{
    text-align: center;
}

.text-highlight {
    color: $color-primary
}

.text-semibold{
    font-weight: 600;
}
.text-faded {
    color: $color-secondary;
}
.text-no-margin{
    margin: 0;
}
.text-justify {
    text-align: justify;
}
